.ow_button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 22px;   
    text-transform: capitalize;
    color: blue;
    box-sizing: border-box;
    position: absolute;
    width: 500px;
    height: 50px;
    background-color: transparent;
    border: 0px;
    margin-left: 1200px;
    margin-top: 10px;
    }

.ow_button:hover {
    color: #00FFD4;
    cursor: pointer;
}

.val_button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 22px;   
    text-transform: capitalize;
    color: red;
    box-sizing: border-box;
    position: absolute;
    width: 500px;
    height: 50px;
    background-color: transparent;
    border: 0px;
    margin-left: 1200px;
    margin-top: 15px;
    }

.val_button:hover {
    color: grey;
    cursor: pointer;
}

.rl_button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 22px;   
    text-transform: capitalize;
    color: skyblue;
    box-sizing: border-box;
    position: absolute;
    width: 550px;
    height: 50px;
    background-color: transparent;
    border: 0px;
    margin-left: 1175px;
    margin-top: 15px;
    }

.rl_button:hover {
    color:white;
    cursor: pointer;
}



.rect {
    background-color: tomato;
    width: 100px;
    height: 100px;
}

.rect:hover {
    cursor: pointer;
}